
$body-bg:               #f4f4f4;
$font-family-sans-serif:  "Open Sans", Helvetica, Arial, sans-serif;

$brand-primary: #8ab98e;
$brand-success:         #5c9961;
$brand-info:            #96b3c5;
$brand-warning:         #fbd037;
$brand-danger:          #ca3f3f;
$headings-font-family:    "Open Sans Condensed", Helvetica, Arial, sans-serif;
$headings-font-weight:    300 !default;


$input-border-focus:             $brand-info;


$fa-font-path: "../bower_components/fontawesome/fonts";